<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Yan Li's Webpage">
    <meta name="author" content="Yan Li">
    
    <base href="{{ .Site.BaseURL }}">
    
    <title>{{ if .Title }}{{ .Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

    <link rel="canonical" href="{{ .Permalink }}">
    <!-- icon 
    <link rel="icon" href="/ico/favicon.png"> -->

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link href="/css/main.css" rel="stylesheet">
    <!-- -->
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
</head>
