<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="/index.html">Home page</a></h1>
			<i class="icon-remove menu-close"></i>
			<a href="/about">About</a>
			<a href="/projects">Projects</a>
			<a href="/notes">notes</a>
			<a href="/contact">Contact</a>
			<a href="https://github.com/LiYanStat"><i class="icon-github"></i></a>
			<a href="mailto:yan.4.li@uconn.edu"><i class="icon-envelope"></i><br/></a>
			<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)">
			<h3 class="logo">Copyright &copy; Yan Li {{ now.Year }}</h3>
		</div>
		<!-- Menu button -->
		<div id="menuToggle"><i class="icon-reorder"></i></div>
</nav>

